body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
  }
  
  ol, ul {
	padding-left: 30px;
  }
  
  .x {
	color: green;
  }
  .o {
	color: red;
  }
  
  input {
	width: 1em;
	margin-right: 30px;
  }
  .board-row:after {
	clear: both;
	content: "";
	display: table;
  }
  
  .status {
	margin-bottom: 10px;
  }
  ol {
	list-style-type: none;
  }
  .square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
  }
  
  .square:focus {
	outline: none;
  }
  
  .kbd-navigation .square:focus {
	background: #ddd;
  }
  
  .emphasis {
	font-weight: bold;
  }
  
  h1 {
	width: 100%;
  }
  .game {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  
  .game-info {
	margin-left: 20px;
  }
  
  .inputs {
	display: flex;
  }

  button {
	width: 120px;
  }
  ol:last-child {
	font-weight: bold;
  }