#root {
  display: flex;
  background-color: rgb(10, 0, 8);
  color: white;
}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.App-header {
  background-color: #14161a;
  display: flex;
  height: 80px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 3em;

}

.Settings {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}
.Settings h1 {
  margin: 0px;
}

.Checkbox {
  padding: 5px;
  vertical-align: middle;
  text-align: left;
}

.IncomeTable {
  display: flex;
  flex-direction: row;
  border: 1px solid pink;
  color: rgba(232, 200, 200);
}

.IncomeTable tr>* {
  width: 15%;
  padding: 2px;
}

.IncomeTable thead tr:first-child>* {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color:rgb(10, 0, 8);

}
.IncomeTable table {
  border-collapse: collapse;
  padding: 10px;

}
.IncomeTable tr {
  border-bottom: 1px solid rgba(232, 200, 200);
  ;
}

.AddAction {
  border: 1px solid navy;
}

.IncomeTable, .IncomeTable input, .IncomeTable textarea {
  font-size: large;
}
input, textarea {
  background-color:rgb(10, 0, 8);
  color: rgba(232, 200, 200);

}

input[inputmode=numeric], input[type=number] {
width: 5em;
text-align: center;
}

.readonly {
  border: 0;
  background-color: transparent;
}

.credit {
  background-color: rgba(80, 222, 111, .2);
}
.debit {
  background-color: rgba(222, 80, 80, 0.2);
}

.RoundAssets table {
  text-align: center;
}

.BuyTower {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.BuyTower>li:hover {
  background-color: #ccc;
}
.BuyTower>li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.UpgradeTower {
  display: flex;
  flex-direction: column;
}

.UpgradeTower button {
  margin: 5px;
}